body {
  font-size: 15px;
  line-height: 20px;
}

h3 {
  font-size: 21px;
  line-height: 22px;
}

.culture_item {
  flex: 1;
}

.ms_img_div {
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  line-height: 21px;
}

.s_h {
  position: sticky;
  top: -50%;
}

.d_min768_none {
  display: none;
}

.magazine {
  margin-bottom: 30px;
}

.n_title {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 12px;
}

.culture_items,
.mag_row,
.editors,
.footer_head,
.footer_logo {
  display: flex;
}

h5 {
  font-size: 17px;
  line-height: 18px;
}

.magazine h5 {
  margin-bottom: 0;
}

.mag_pic,
.bs_pic,
.subscribe_block {
  position: relative;
}

.bs_pic {
  padding-bottom: 110%;
}

.mag_pic .bs_pic {
  display: block;
  position: relative;
  overflow: hidden;
}

.mag_pic {
  padding-bottom: 100%;
}

.mag_img {
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  max-width: inherit;
}

.mag_bottom {
  padding-top: 30px;
}

.subscribe_block {
  padding-top: 40px;
}

.sub_block {
  padding: 30px;
  display: flex;
}

.s_info {
  padding-left: 30px;
}

.sub_div {
  margin-bottom: 40px;
}

.nl_img {
  width: 48%;
  max-width: 191px;
}

.s_in {
  border-left-width: 0;
}

.leaf {
  border-right: 1px solid #d9d9d9;
  padding-right: 9px;
  margin-right: 10px;
}

.footer_links li:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
